@import "../../styles/color.scss";

.sidebar {
  width: 100%;
  min-height: 45vh;
  background-color: $color-background;
  margin-top: 55vh;
  padding: 24px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  // overflow-y: scroll;
  z-index: 1;
}