@import "../../styles/color.scss";
@import "../../styles/font.scss";

.sidebar_box {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: $color-background;
  padding: 32px 24px;
  position: relative;
}
.sidebar_box::after{
  position: absolute;
  bottom: 0;
  content: "";
  width: calc(100% - 48px);
  height: 1px;
  background-color: $color-gray;
}

.box__alignItemsCenter {
  display: flex;
  align-items: center;
}
.box__spaceBetween {
  display: flex;
  justify-content: space-between;
}
.box__spaceAruond{
  display: flex;
  justify-content: space-around;
}
.box__alignItemsFlexStart {
  display: flex;
  align-items: flex-start;
}

.box_linkRow {
  width: 100%;
  height: 32px;
}
.linkRow__fontSize {
  @include P;
  color: $color-main;
}
.linkRow_arrowIcon {
  // width: 16px;
  // height: 16px;
  font-size: 16px;
  color: $color-main;
}

// closestBox
.closestBox_titlebox__marginBottom {
  margin-bottom: 24px;
}
.closestBox_box__marginBottom {
  margin-bottom: 16px;
}
.closestBox_stopName {
  @include H1_Bold;
  color: $color-black;
}
.closestBox_stopDistance__fontSize {
  @include P;
  color: $color-black;
}

.closestBox_currentInfoBox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 0px;
  justify-content: space-between;
  width: 100%;
}
.closestBox_flexBox {
  display: flex;
}
.currentInfoBox_routeInfoBox{
  margin: 0;
  padding: 0;
}
.routeInfoBox_routeName {
  margin-top: -5px;
  width: 112px;
  @include H1;
}
.routeInfoBox_routeDirection {
  // width: calc(100% - 204px);
  @include miniP;
  color: $color-black;
}

.currentInfoBox_routeState {
  width: 92px;
  text-align: center;
  @include P;
}

.currentInfoBox_ButtonBox{
  // width: 40%;
  // max-width: 104px;
}
.ButtonBox_Button{
  padding: 4px 4px 4px 6px;
  border-radius: 5px;
  @include P;
  gap: 0 6px;
}
.ButtonBox_openButton{
  background: $color-main;
  color: #fff;
}
.ButtonBox_cancelButton{
  background: #fff;
  color: $color-main;
  border: $color-main 1px solid;
}

.routeState__textYellow {
  color: $color-yellow;
  font-weight: 700;
}
.routeState__textGray {
  color: $color-gray;
  font-weight: 400;
}
.routeState__textDark {
  color: $color-black;
  font-weight: 700;
}