@import '../../styles/color.scss';
@import '../../styles/font.scss';

.sidebar_box {
  width: 100%;
}

.box__alignItemsCenter {
  display: flex;
  align-items: center;
}
.box__center {
  display: flex;
  justify-content: center;
}
.box__start {
  display: flex;
  justify-content: flex-start;
}
.box__spaceBetween {
  display: flex;
  justify-content: space-between;
}

.certainStopBox_titlebox__marginBottom {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: $color-main;
  margin-top: -24px;
  margin-left: -24px;
  margin-right: -24px;
}
.certainStopBox_stopName {
  @include H1_Bold;
  color: #fcfcfc;
}
.certainStopBox_stopInfo {
  width: 100%;
  @include P;
  color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.stopInfo_detailBox {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  height: 24px;
}

.stopInfo_detailBox > div:nth-child(2) {
  border-right: 1px solid #fcfcfc;
  padding-right: 8px;
}

.certainStopBox_ChangeRouteBox {
  margin-right: -24px;
  margin-left: -24px;
  padding: 16px 24px 0px 24px;
  width: 100vw;
  background: $color-background;
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
.ChangeRouteBox_RouteBox {
  width: 24px;
  padding: 4px;
  text-align: center;
  @include P;
  color: $color-black;
}
.ChangeRouteBox_RouteBoxFocus {
  @include P_Bold;
  border-bottom: 2px solid $color-main;
}

// certainRouteBox
.certainStopBox_AllRouteBox {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: $color-background;
}
.certainStopBox_AllRouteBox > div:last-child {
  border-bottom: 0px;
}
.certainRouteBox_linkSetting {
  text-decoration: none;
}
.certainStopBox_certainRouteBox {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid $color-gray;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .certainRouteBox_frontBox {
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: space-between;
  }
}

.certainRouteBox_routeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.certainRouteBox_routeNameBox {
  width: calc(100% - 100px);
  min-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}
.certainRouteBox_routeName {
  display: inline-block;
  @include H1_Bold;
  color: $color-black;
}
.certainRouteBox_routeDirection {
  @include miniP;
  color: $color-black;
}
.certainRouteBox_routeState {
  width: 88px;
  @include P_Bold;
  text-align: center;
  color: $color-black;
}
.routeState__textGray {
  color: $color-gray;
}
.routeState__textYellow {
  color: $color-yellow;
}
.routeState__textDark {
  color: $color-black;
}

.certainRouteBox_arrowIcon {
  font-size: 16px;
  text-align: center;
  color: #160f29;
}

.certainRouteBox_ButtonBox {
  flex-wrap: wrap;
  gap: 8px;
}
.ButtonBox_Button {
  padding: 4px 4px 4px 6px;
  border-radius: 5px;
  @include P;
  gap: 6px;
}
.Button_White {
  color: $color-main;
  background-color: #fcfcfc;
}
.Button_Blue {
  color: #fcfcfc;
  background-color: $color-main;
}
.Button_icon {
  padding-top: 1px;
}

.marquee_animation {
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
