.sidebar_box {
  width: 100%;
  border: 1px solid #160f29;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 32px 24px 16px 24px;
}

.box__alignItemsCenter {
  display: flex;
  align-items: center;
}
.box__center {
  display: flex;
  justify-content: center;
}

.certainStopBox_titlebox__marginBottom {
  margin-bottom: 32px;
}
.certainStopBox_stopName {
  height: 36px;
  font-weight: bold;
  font-size: 24px;
  color: #246a73;
}
.certainStopBox_stopInfo {
  width: 100%;
  height: 24px;
  font-size: 16px;
}

.stopInfo_detailBox {
  width: 66%;
  display: flex;
  justify-content: space-between;
}

// certainRouteBox
.certainRouteBox_linkSetting{
  text-decoration: none;
}
.certainStopBox_certainRouteBox {
  position: relative;
  width: 100%;
  height: 52px;
  margin-bottom: 12px;

  .certainRouteBox_frontBox {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid #160f29;
    border-radius: 5px;
    background-color: #fcfcfc;
    z-index: 2;
    padding: 0 4%;
  }

  .certainRouteBox_shadow {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 4px;
    left: 4px;
    border-radius: 5px;
    background-color: #160f29;
    opacity: 0;
    transition: 0.2s;
  }

  &:hover {
    .certainRouteBox_shadow {
      opacity: 1;
    }
  }
}

.certainRouteBox_routeName {
  width: 40%;
  font-size: 20px;
  font-style: bold;
  color: #160F29;
}
.certainRouteBox_routeDirection {
  width: calc(53% - 96px);
  font-size: 16px;
  text-align: center;
  color: #ddbea8;
}
.certainRouteBox_routeState {
  width: calc(80px + 7%);
  font-size: 16px;
  text-align: center;
  color: #160F29;
}
.certainRouteBox_arrowIcon {
  font-size: 16px;
  text-align: center;
  color: #160f29;
}
