@mixin P {
    font-size: 16px;
    font-weight: 400;
}

@mixin P_Bold {
    font-size: 16px;
    font-weight: 700;
}

@mixin miniP {
    font-size: 14px;
    font-weight: 400;
}

@mixin H1 {
    font-size: 24px;
    font-weight: 400;
}

@mixin H1_Bold {
    font-size: 24px;
    font-weight: 700;
}

@mixin H2 {
    font-size: 20px;
    font-weight: 400;
}

@mixin H2_Bold {
    font-size: 20px;
    font-weight: 700;
}