@import '../../styles/color.scss';
@import '../../styles/font.scss';

.sidebar_box {
  width: 100%;
}

.box__alignItemsCenter {
  display: flex;
  align-items: center;
}
.box__center {
  display: flex;
  justify-content: center;
}
.box__spaceBetween {
  display: flex;
  justify-content: space-between;
}

.box_linkRow {
  padding-top: 8px;
  width: 100%;
}
.linkRow__fontSize {
  font-size: 16px;
}
.linkRow_arrowIcon {
  // width: 16px;
  // height: 16px;
  font-size: 16px;
  color: $color-main;
}

// nearbyBox
.certainStopBox_linkSetting {
  text-decoration: none;
}
.nearbyBox_titleBox {
  @include H1_Bold;
  color: #fcfcfc;
  margin-bottom: 32px;
  background-color: $color-main;
  margin: -24px;
  margin-bottom: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  .titleBox_stopsInfo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    @include P;
  }
}

.nearbyBox_AllStopBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0px;
}
.nearbyBox_certainStopBox {
  min-height: 84px;
  width: 100%;
  border-bottom: 1px solid $color-gray;
  .certainStopBox_frontBox {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fcfcfc;
    z-index: 2;
    padding: 0;
    padding-bottom: 16px;
  }
}

.routeStopBox_stopInfoBox {
  width: 100%;
}
.stopInfoBox_stopName__fontSize {
  @include H2_Bold;
  color: $color-black;
}
// .stopInfoBox_stopDistance__fontSize {
//   font-size: 14px;
//   color: $color-black;
// }
.routeStopBox_routeNameBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
.routeNameBox_routeName {
  height: 24px;
  margin: 0 2px;
  color: $color-black;
}

.nearbyBox_noInfoBox{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.nearbyBox_noInfoImg {
  background-image: url(../../asset/imgs/undraw_lost_re_xqjt.svg);
  width: 200px;
  height: 160px;
}
.nearbyBox_noInfoText {
  padding-top: 18px;
  @include H2;
}
