.sidebar_box {
  width: 100%;
  border: 1px solid #160f29;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 20px 16px 0 16px;
}

.box__alignItemsCenter {
  display: flex;
  align-items: center;
}
.box__spaceBetween {
  display: flex;
  justify-content: space-between;
}

// weatherBox
.sidebar_weatherBox__paddingBottom {
  padding-bottom: 16px;
}
.weatherBox_leftInfoBox {
  margin-left: 4px;
}
.leftInfoBox__marginBottom {
  margin-bottom: 10px;
}

.leftInfoBox_locationIcon {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-color: #160f29;
}
.leftInfoBox_locationText {
  font-size: 16px;
  margin: 0 4px;
}
.leftInfoBox__marginRight {
  margin-right: 16px;
}
.leftInfoBox_smallText {
  font-size: 12px;
  margin: 0 4px;
}

.rightInfoBox_currentTemp {
  font-size: 24px;
  color: #000000;
  margin-right: 16px;
}
.rightInfoBox_weatherIcon {
  width: 40px;
  height: 40px;
  background-color: #160f29;
}