@import "../../styles/color.scss";
@import "../../styles/font.scss";

.sidebar_box {
  width: 100%;
  /* 上边 | 右边 | 下边 | 左边 */
  padding: 32px 24px;
}

.box__alignItemsCenter {
  display: flex;
  align-items: center;
}
.box__center {
  display: flex;
  justify-content: center;
}

.reserveBox {
  border-radius: 12px;
  background-color: $color-background;
  padding: 24px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  color: $color-black;
}

.box__icon {
  font-size: 32px;
}

.box__word{
  @include H1;
}
