@import '../../styles/color.scss';

.map {
  position: absolute;
  top: 72px;
  left: 0%;
  width: 100%;
  height: calc(55vh - 36px);
  z-index: 0;
}

.selectIcon {
  z-index: 1001 !important;
}
.currentIcon {
  z-index: 1000 !important;
}
.tooltip {
  z-index: 1003 !important;
  background-color: #fcfcfc;
  box-shadow: none;
  // border: 1px solid #160f29;
}
// .leaflet-tooltip-top:before,
// .leaflet-tooltip-bottom:before,
// .leaflet-tooltip-left:before,
// .leaflet-tooltip-right:before {
//   border: none !important;
// }

.tooltip_rowBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 2px;
}
.rowBox_titleText {
  font-size: 16px;
  color: #2b3240;
}
.rowBox_stopDistance {
  font-size: 12px;
}
.rowBox__marginRight {
  margin-right: 12px;
}

.rePosition_Botton {
  position: absolute;
  top: calc(96% - 70px);
  right: 24px;
  padding: 4px;
  font-size: 32px;
  z-index: 1000;
  color: $color-main;
  background-color: $color-background;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
