.box__spaceBetween {
  display: flex;
  justify-content: space-between;
}

// nav
.nav {
  position: absolute;
  background-color: #fcfcfc;
  left: 0;
  top: 0;
  width: 33.4%;
  height: 72px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.nav_logo {
  width: 38px;
  height: 38px;
  background-color: #160f29;
  margin: 2px 8px;
}
.nav_buttonBox {
  width: 66.6%;
  max-width: 160px;
  display: flex;
}
.buttonBox_button {
  width: 50%;
  height: 100%;
  margin: 0 8px;
  border: 1px solid #160f29;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_icon {
  width: 20px;
  height: 20px;
  background-color: #160f29;
}